<?xml version="1.0" encoding="UTF-8"?>
<Settings>
	<SearchApplication>
		<File>reviews_Cell_Phones_and_Accessories_5.json</File>
		<Port>8080</Port>
	</SearchApplication>
	<ChatApplication>
		<Port>9090</Port>
		<Api>https://slack.com/api/chat.postMessage</Api>
		<Token>xoxb-378520430422-466222641045-prs118PZ7KdIheVzFvf77m2w</Token>
		<Channel>hiepbui</Channel>
	</ChatApplication>
	
</Settings>