<?xml version="1.0" encoding="UTF-8"?>
<Settings>
	<SearchApplication>
		<ReviewFile>reviews_Cell_Phones_and_Accessories_5.json</ReviewFile>
		<QaFile>qa_Cell_Phones_and_Accessories.json</QaFile>
		<Port>8080</Port>
	</SearchApplication>
	<ChatApplication>
		<Port>9090</Port>
		<Api>https://slack.com/api/chat.postMessage</Api>
		<Channel>hiepbui</Channel>
	</ChatApplication>
	
</Settings>
